.profile__info {
  padding: 30px 30px 30px 30px;
  background: var(--six-color);
  border-radius: 20px;
  width: 90%;
}

#image {
  height: 100px;
}

.profile__image {
  display: flex;
  justify-content: center;
}

.profile__image img {
  border-radius: 50%;
}

.profile__image img {
  max-width: 300px;
}

.profile__info__col {
  padding-left: 10px;
}

@media (max-width: 1000px) {
  .profile {
    justify-content: center;
    flex-direction: column;
  }

  .profile__image img {
    max-width: 150px;
  }
}
