:root {
  --primary-font: 'Open Sans';
  --secondary-font: 'Montserrat';
  --color-text-11: #dad8de;
  --color-background-6: #201c2b;
  --color-background-7: #392e5c;
  --color-background-8: #2b2d35;
  --primary-color: #2f2f2f;
  --second-color: #757575;
  --second-color-2: #969494;
  --second-color-3: #686868;
  --third-color: #d5d5d5;
  --fourth-color: #f5f5f5;
  --fifth-color: #7f00ac;
  --black-color: #000;
  --white-color: #fff;
  --prime-bg: #5d38db;
  --placeholder: #9d9d9d;
  --sixth-color: #f34a4a;
  --seventh-color: #00da4a;
  --eighth-color: #dddddd;
}

body {
  background-color: var(--color-background-6);
  color: white;
  font-family: var(--primary-font);
}

main {
  padding: 100px 0;
  margin: 0 auto;
  background-color: var(--color-background-8);
}

header,
.title {
  display: flex;
  justify-content: space-between;
}

header {
  padding: 25px 0;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
}

.header__nav {
  margin: auto 0;
}

nav > a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  transition: 0.3s ease;
}

nav > a:hover {
  color: var(--prime-bg);
  margin: 0 8px;
}

.title__small {
  font-size: 0.5rem;
}

.title__left img {
  margin-right: 40px;
  width: 300px;
  height: 300px;
}
.title__right {
  width: 700px;
  margin: auto 0;
}

#roflan {
  animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate(0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

footer {
  padding: 30px 0;
  font-size: 0.9rem;
}

.active {
  text-decoration: underline;
  color: var(--placeholder);
  pointer-events: none;
}

@keyframes away {
  10% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100);
  }
}

@keyframes shake {
  20% {
    transform: translate(30px, 30px);
  }

  40% {
    transform: translate(-13, 15);
  }

  60% {
    transform: translate(-40px, 40px);
  }

  80% {
    transform: translate(-30, 50px);
  }

  90% {
    transform: translate(0, 0);
  }
}
